</main> 
    <footer>
        <nav>
            <ul class="footer-menu">
                <li><a href="/">Home</a></li>
                <li><a href="/newPost">New Post</a></li>
                <li><a href="/contact">Contact Me</a></li>
            </ul>
        </nav>
        <p class="copyright">Copyright &copy; <%=new Date().getFullYear() %> SmartArt Blog. All rights reserved. </p>
    </footer>
</body>
</html>