<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel = "stylesheet" href="/styles/main.css">
    <title>SmartArt</title>
</head>
<header class="top-nav-bar">
    <h1 class="main_title">
        <a href="/">SmartArt Blog</a>
    </h1>
    <nav> 
        <ul>
            <li><a href="/" >Home</a></li>
            <li><a href="/newPost">New Post</a></li>
            <li><a href="/contact">Contact</a></li>
        </ul>
    </nav>
</header>
<body>

<main>