<%- include("partials/header.ejs") %>

<div class="container-about">
    <h1> About SmartArt Blog</h1>
    <div class="about">
        <p>This project was created as a learning journey in Node.js, Express, and EJS.</p>
        <a href="/" class="about_back_home_btn" >Back to home</a>
    </div>
   
</div>

<%- include("partials/footer.ejs") %>