<%- include("partials/header.ejs") %>

<div class="about-title">
    <h1> About SmartArt Blog</h1>
</div>
<div class="about">
    <p class="text">This project was created as a learning journey in Node.js, Express, and EJS.</p>
    <a href="/" class="about_back_home_btn" >Back to home</a>
</div>

<%- include("partials/footer.ejs") %>