<%- include("partials/header.ejs") %>

<div class="thankyou-title">
    <h1> Thank you, <%= contactInfo.name %>!</h1>
</div>
<div class="content-thankyou">
    <img src="/images/tick.png" alt="tick symbol">
    <p>Your message has been received.</p>
    <a href="/" class="back-to-home">OK</a>
</div>

<%- include("partials/footer.ejs") %>

