* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
  font-family: "Times New Roman", Times, serif;
  line-height: 1.4;
}

html {
  font-size: 16px;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/***********************  Header  ***********************/
main {
  background-color: #464646;
  flex: 1;
  justify-content: center;
  align-items: center;
}

/* header nav bar */
.top-nav-bar {
  display: flex;
  justify-content: space-between; /* title left, nav right */
  flex-wrap: wrap; /* items will wrap if necessary */
  align-items: center; /* vertical centering */
  background-color: #333;
  padding: 1rem 2.5rem;
}

.top-nav-bar ul {
  display: flex;
  gap: 1.25rem; /* space between each link items (Home, New Post, Contact)  */
  list-style: none; /* remove the default bullets from list */
}

.top-nav-bar a {
  color: antiquewhite;
  text-decoration: none; /* Removes the underline from links */
  font-size: 1.7rem;
  transition: color 0.25s ease;
}

.top-nav-bar a:hover {
  color: #9596ec;
}

/* Title of the Web App */
.main_title > a {
  font-size: 2.5rem;
}

/***********************  Main/Home Page  ***********************/
.all-posts {
  display: flex;
  align-items: center;
  flex-flow: column wrap;
  gap: 3rem;
  margin: 5rem auto;
  max-width: 60rem;
  width: 100%;
  padding: 4rem 1.25rem;
  color: #D6D9DB;
  text-align: center;
  border-radius: 2.5rem;
  box-shadow: 0 0 3rem rgb(235, 235, 210);
}

.home-post-card {
  width: 100%;
  max-width: 38rem;
  padding: 1.3rem;
  border: 1px solid #5c5c5c;
  border-radius: 3.12rem;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.home-post-card:hover {
  transform: translateY(-0.4rem);
  box-shadow: 0 0 1rem rgb(235, 235, 210);
}

.postTitle {
  text-decoration: none;
  color: #D6D9DB;
}

.home-post-preview { /* for content of the posts */
  padding: 1.25rem;
}

p {
  font-size: 1.4rem;
}

h2 {
  font-size: 1.8rem;
}

.editButton, .viewButton,
.deleteButton {
  max-width: 10rem;
  text-decoration: none;
  margin: 0.4rem;
  padding: 0.6rem;
  font-size: 1.1em;
  font-weight: bold;
  border-radius: 0.37rem;
  cursor: pointer;
  transition: all 0.25s ease;
  color: #464646;
  background-color: #f5f5f5;
}
.editButton:hover, .viewButton:hover,
.deleteButton:hover {
  background-color: #4c95da;
  color: whitesmoke;
}

/***********************  Edit, Create and View Posts ***********************/
/* For titles "Edit Post" and "New Post"  */
.titleEditCreate {
  color: whitesmoke;
  font-size: 3.4rem;
  text-align: center;
}

/* Container for Edit, Create and View pages */
.dynamic-full-post {
  display: flex;
  flex-direction: column; /* Title above the content */
  justify-content: center; /* Center horizontally the content inside the layout */
  margin: 5rem auto; /* Center layout */
  padding: 2rem 1.25rem;
  max-width: 75rem;
  width: 100%;
  gap: 0.8rem;
  border-radius: 2.5rem;
  box-shadow: 0 0 5rem rgb(235, 235, 210);
}

.post-frame {
  display: flex;
  flex-direction: column;
  width: 100%; /* Takes up the available width up to max-width */
  max-width: 40rem;
  margin: 1rem auto;
}

/* Vertical stacking of form */
.post-frame form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.post-group {
  display: flex;
  align-items: center;
  gap: 1.25rem;
  font-size: 1.5rem;
  color: white;
  white-space: pre-wrap; /* Allows text wrapping */
}

.post-group label {
  width: 4rem; /* Keep labels with a fixed width so input and textarea align perfectly */
}

.post-group input, textarea {
  width: 100%;
  padding: 0.5rem;
  font-size: 1.2rem;
  border-radius: 1rem;
}

.post-textarea-size textarea {
  height: 25rem;
}

/* Update and Create buttons  */
input[type=submit] {
  width: 10rem;
  background-color: #f5f5f5;
  cursor: pointer;
  padding: 0.5rem;
  border-radius: 1rem;
  font-size: 1.5rem;
  font-weight: bold;
  color: #4f4e4e;
  margin-top: 1rem;
  margin-left: 4.6rem;
  border: none; /* remove default border */
  transition: background-color 0.25s;
}

input[type=submit]:hover {
  background-color: #4c95da;
  color: whitesmoke;
}

/* Flex layout container for post content that places the text on 
   the left and image on the right in View page */
.posts-body {
  display: flex;
  gap: 2rem;
  align-items: flex-start;
}

/* Title of posts in View Page */
.titlePostView {
  color: whitesmoke;
  font-size: 2.4rem;
  margin-left: 2rem;
}

/* Content of View Page */
.dynamic-post-content {
  flex: 1; /* Fills all available remaining space in the container */
  font-size: 1.25rem;
  margin-left: 2rem;
  margin-bottom: 2rem;
  text-align: left;
  color: white;
  white-space: pre-line; /* Respects \n (newline), but ignores extra horizontal whitespace and allows wrapping */
}

/* Images in View Page  */
.image-post {
  width: 100%; /* Fills the container on small screens (mobile) */
  max-width: 28rem; /* Limits the size so it doesn't go too huge on desktop */
  height: auto;
  margin-right: 2rem;
  border-radius: 1.25rem;
  box-shadow: 2px 4px 12px wheat;
}

/* Button in View, Contact and About Pages */
.back-to-home {
  max-width: 10rem;
  text-decoration: none;
  margin: 0.4rem;
  padding: 0.6rem;
  font-size: 1.1em;
  font-weight: bold;
  border-radius: 0.37rem;
  cursor: pointer;
  transition: all 0.25s ease;
  color: #464646;
  background-color: #f5f5f5;
}
.back-to-home:hover {
  background-color: #4c95da;
  color: whitesmoke;
}
.back-to-home {
  margin-left: 2rem;
}

/***********************  About Page  ***********************/
.about-title,
.contact-title,
.thankyou-title { /* Thank You page*/
  width: 100%;
  padding: 1.25rem 1rem; /* Sufficient height for the header */
  background-color: rgb(77, 90, 106);
  background-image: linear-gradient(to bottom, #333 1%, rgb(77, 90, 106) 50%, #333 100%);
  text-align: center;
  color: white;
  font-size: 2.1rem; /* Or your preferred size */
}

.about {
  background-color: rgba(255, 255, 255, 0.062745098);
  backdrop-filter: blur(1.1rem); /* glass effect */
  margin: 6.25rem auto;
  position: relative;
  padding: 2.5rem 3.1rem;
  border-radius: 1rem;
  max-width: 38rem;
  text-align: center;
  box-shadow: 2px 6px 20px 8px whitesmoke, 2px 6px 10px 4px whitesmoke;
  color: white;
  font-family: "Arvo", cursive;
  font-size: 1.5rem;
}

.text_about {
  line-height: 1.6;
  margin-bottom: 2rem;
}

/***********************  Contact Page  ***********************/
.text_contact {
  font-size: 1.5rem;
  padding: 10px 0;
  text-align: center;
  color: white;
}

.contact-form {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  font-size: 1.5rem;
  width: 100%;
  max-width: 50rem;
}
.contact-form form {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 30rem;
  gap: 1.5rem;
  margin: 1.25rem 6rem 1.25rem 0; /* To align in the middle  */
}
.contact-form form .contact-form-group {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.contact-form form .contact-form-group label {
  flex: 0 0 7rem;
  text-align: right;
  color: white;
}
.contact-form form .contact-form-group input, .contact-form form .contact-form-group textarea {
  flex: 1;
  width: 100%;
  padding: 0.6rem;
  font-size: 1.5rem;
  border-radius: 0.6rem;
}
.contact-form form .contact-form-group textarea {
  height: 12.5rem;
}
.contact-form form .btn_SendFeedback {
  max-width: 10rem;
  text-decoration: none;
  margin: 0.4rem;
  padding: 0.6rem;
  font-size: 1.1em;
  font-weight: bold;
  border-radius: 0.37rem;
  cursor: pointer;
  transition: all 0.25s ease;
  color: #464646;
  background-color: #f5f5f5;
}
.contact-form form .btn_SendFeedback:hover {
  background-color: #4c95da;
  color: whitesmoke;
}
.contact-form form .btn_SendFeedback {
  margin-left: 14rem; /* to align in the middle of input and textarea */
}

/***********************  Thank you page  ***********************/
.content-thankyou {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 4rem auto 0;
  width: 26rem;
  height: 15rem;
  background: rgb(77, 90, 106);
  border-radius: 1.25rem;
  text-align: center;
  font-size: 1.5rem;
  color: white;
  box-shadow: 2px 2px 12px wheat;
}
.content-thankyou img {
  width: 4rem;
  max-width: 20rem;
  border-radius: 50%;
}
.content-thankyou p {
  margin: 1.25rem 0;
}
.content-thankyou .back-to-home {
  margin-right: 2rem;
}

/***********************  Footer  ***********************/
footer {
  background-color: #333;
  color: antiquewhite;
}

.footer-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  color: antiquewhite;
  gap: 1.8rem;
  font-size: 1.25rem;
  list-style: none;
  padding: 0.6rem 0;
}

.footer-menu a {
  color: antiquewhite;
  text-decoration: none;
}

.footer-menu a:hover {
  color: #9596ec;
}

.copyright {
  font-size: 0.8rem;
  padding: 1rem 0;
  text-align: center;
}

/***********************  MEDIA QUERIES  ***********************/
/* For phones and IPads */
@media (max-width: 768px) {
  /******** General settings ********/
  html {
    font-size: 12px;
  }
  /* all-posts => Main(Home) Page container and dynamic-full-post => Edit, Create View Pages container */
  .all-posts, .dynamic-full-post {
    width: 70%; /* Smaller dimension for posts containers on phones and IPads */
  }
  /******** View Page ********/
  /* Image + text from View Page */
  .posts-body {
    display: flex;
    gap: 1rem;
    flex-direction: column-reverse; /* To display the image and below to be the text */
  }
  /* Image */
  .image-post {
    max-width: 17rem; /* Smaller image on phones and IPads */
    margin-left: 2rem;
    margin-top: 1rem;
  }
  /* Title of posts in View Page */
  .titlePostView {
    font-size: 1.4rem;
  }
}

/*# sourceMappingURL=main.css.map */
