* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    font-family:'Times New Roman', Times, serif;
    line-height: 1.2;
}

html {
    font-size: 16px;
}

/***********************  Header  ***********************/

main {
    position: relative;
    min-height: calc(100vh - 10rem); /* adjust 10rem to header+footer height */
    background-color: #464646;
    padding: 6.25rem 1.25rem;
}

/* header nav bar */
.top-nav-bar {
    display: flex;
    justify-content: space-between;  /* title left, nav right */
    flex-wrap: wrap;           /* items will wrap if necessary */
    align-items: center;       /* vertical centering */
    background-color: #333;
    padding: 1rem 2.5rem;
}

.top-nav-bar ul {
    display: flex;
    gap: 1.25rem;       /* space between each link items (Home, New Post, Contact)  */
    list-style: none;   /* remove the default bullets from list */
}

.top-nav-bar a {
    color: antiquewhite;
    text-decoration: none;      /* Removes the underline from links */
    font-size: 1.7rem;
    transition: color 0.25s ease;
}

.top-nav-bar a:hover {
    color: #4c95da;;
}

/* Title of the Web App */
.main_title > a {
    font-size: 2.5rem;
}

/***********************  Main/Home Page  ***********************/

.all-posts {
    display: flex;
    align-items: center;      /* vertical */
    flex-flow: column wrap;
    gap: 3rem;
    margin: 0 auto;
    max-width: 75rem;
    padding: 4rem 1.25rem;
    color: #D6D9DB;
    text-align: center;
    border-radius: 2.5rem;
    box-shadow: 0 0 5rem rgb(235, 235, 210);
}

.home-post-card {
    width: 100%;
    max-width: 38rem;        
    padding: 1.3rem;
    border: 1px solid #5c5c5c;
    border-radius: 3.12rem;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.home-post-card:hover {
    transform: translateY(-0.4rem);
    box-shadow: 0 0 1rem rgb(235, 235, 210);
}

.home-post-preview {   /* for content of the posts */
    padding: 1.25rem;
}

p {
    font-size: 1.4rem;
}

h2 {
    font-size: 1.8rem;
}

.editButton {
    text-decoration: none;
    background-color: #f5f5f5;
    color: #4f4e4e;
    padding: 0.6rem;
    font-size: 1.1em;
    font-weight: bold;
    border-radius: 0.37rem;
    cursor: pointer;
    transition: background-color 0.25s ease;
}

.editButton:hover {
    background-color: #4c95da;
    color: whitesmoke;
}

/***********************  Edit And Create the New Added Posts ***********************/

/* For title "Edit Post"  */
h1 {
    color: whitesmoke;
    font-size: 3.4rem;
    text-align: center;
}

.dynamic-full-post {
    display: flex;
    flex-direction: column;   /* Title above the content */
    justify-content: center;  /* Center horizontally the content */
    margin: 0 auto;           /* Center div box */
    padding: 2rem 1.25rem;
    max-width: 75rem;
    gap: 0.8rem;
    border-radius: 2.5rem;
    box-shadow: 0 0 5rem rgb(235, 235, 210);
    max-width: 75rem;
}

.newpost-form-frame {
    display: flex;
    flex-direction: column; 
    width: 100%;           /* Takes up the available width up to max-width */
    max-width: 40rem;      
    margin: 1rem auto;
}

.newpost-form-frame form {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.newpost-form-group {
    display: flex;
    align-items: center;
    gap: 1.25rem;
    font-size: 1.5rem;
    color: white;
    white-space: pre-wrap;  /* Allows text wrapping */
}

.newpost-form-group label {
    width: 4rem;     /* Keep labels with a fixed width so input and textarea align perfectly */
}

.newpost-form-group input, textarea {
    width: 100%;
    padding: 0.5rem;
    font-size: 1.2rem;
    border-radius: 1rem;
}

.newpost-textarea-size textarea {
    height: 25rem;
}

input[type="submit"] {
    width: 10rem;
    background-color: #f5f5f5;
    cursor: pointer;
    padding: 0.5rem;
    border-radius: 1rem;
    font-size: 1.5rem;
    font-weight: bold;
    color: #4f4e4e;
    margin-top: 1rem;
    margin-left: 4.6rem;
    border: none;         /* remove default border */
    transition: background-color 0.25s;
}

input[type="submit"]:hover {
    background-color: #4c95da;
    color: whitesmoke;
}

/***********************  Footer  ***********************/

footer {
     background-color: #333;
     color: antiquewhite;
}
.footer-menu {
    display: flex;
    justify-content: center;
    color: antiquewhite;
    gap: 1.8rem;
    font-size: 1.25rem;
    list-style: none;
    padding: 0.6rem 0;
}

.footer-menu a {
    color:antiquewhite;
    text-decoration: none;
}

.footer-menu a:hover {
    color: whitesmoke;
}

.copyright {
    font-size: 0.8rem;
    padding: 1rem 0;
    text-align: center;
}


/***********************  MEDIA QUERIES  ***********************/

@media (max-width: 768px) {
  html {
    font-size: 14px;
  }
  
}